[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
test = 'bash -c "export PYTHONPATH=\"./src:./tests:$PYTHONPATH\"; python -m unittest discover -v -s tests"'
build = './scripts/build.sh'
package = './scripts/package.sh'
